<h1 class="title">Users details</h1>



<h3><%= @users.count %> total users</h3>

<% @users.each do |user| %>
  <div class="profile_block admin_view">
    <div class="heading_admin_view">
      <h4 class="title_small"> <%= link_to user.name, user_path(user.id) %>, <%= user.surname %>. </h4>
    </div>
    <ul>

      <li> <%= user.email %>. </li>
      <li> <%= user.phone %>. </li>
      <li> <%= user.address %>, <%= user.city %>, <%= user.state %> (<%= user.zip %>). </li>
    </ul>
    <p>Venues Owned by <%= user.name %></p>
    <% user.venues.each do |venue| %>
      <ul>
        <li><%= link_to venue.name, venue_path(venue.id) =%></li>
      </ul>
    <% end %>
  </div>
<% end %>
