<h1>Users details</h1>

<h2>Only Admin Access</h2>

<h3><%= @users.count %> total users</h3>
<h3><%= @users.venues.count %> total venues</h3>

<ul>
<% @users.each do |user| %>
  <li> <%= link_to user.name, user_path %>, <%= user.surname %>. </li>
  <li> <%= user.email %>. </li>
  <li> <%= user.phone %>. </li>
  <li> <%= user.address %>, <%= user.city %>, <%= user.state %> (<%= user.zip %>). </li>
  <% user.venues.each do |venue| %>
    <ul>
      <%= link_to venue.name, venue_path %>
    </ul>
  <% end %>
<% end %>
</ul>
