<h1>USER DETAILS</h1>
<ul>
  <li> Full Name: <%= @user.name %> <%= @user.surname %> </li>
  <li> Email: <%= @user.email %> </li>
  <li> Phone Number: <%= number_to_phone(@user.phone, :area_code => true) %> </li>
  <li> Address: <%= @user.addres%> </li>
  <li> City: <%= @user.city%>, <%= @user.state %> (<%= @user.zip%>) </li>
  <li> Contact Number: <%= @user.phone %> </li>
  <% @current_user.venues.each do |venue| %>
  <li> Venue owned: <%= link_to venue.name, venue %> </li>
  <% end %>
</ul>
<%= link_to 'Edit Details', edit_user_path %>
