<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="parent d-flex justify-content-center">
            <%= link_to image_tag('/assets/chinchin.jpeg', :class => "d-block w-100 carousel_img" ), venue_path(@venue1.id)  %>
          </div>
        </div>
      <div class="carousel-item">
          <div class="parent d-flex justify-content-center">
            <%= link_to image_tag("/assets/palermo.jpeg", :class => "d-block w-100 carousel_img" ), venue_path(@venue2.id) if @venue2.image.present? %>
          </div>
      </div>
      <div class="carousel-item">
          <div class="parent d-flex justify-content-center">
          <%= link_to image_tag("/assets/lune.jpeg", :class => "d-block w-100 carousel_img" ), venue_path(@venue3.id) %>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<h2 class="title">All Venues</h2>

<% @venues.each do |venue| %>
  <p> <%= link_to venue.name, venue_path(venue.id), :class => 'venues_link' %> | <%= venue.suburb%></p>
<% end %>
