<h1 class="heading heading_venue"></h1>
<div class="venue_heading">
  <% if @venue.logo.present? %>
  <div class="logo_container">
    <%= image_tag @venue.logo, :class => 'logo_show' %>
  </div>
  <% else %>
    <h2 class="title"><%= @venue.name %></h2>
  <% end %>
  <div class="venue_details">
    <p> 📍 <%= @venue.address%>, <%= @venue.suburb %></p>
    <p>  ☎️ <%= @venue.phone%></p>
    <p> <%= link_to "Visit Website", @venue.website, :class => 'website_link'  %> </p>
    <p><%= link_to image_tag('/assets/insta_logo.png', :class => 'insta_logo'), @venue.insta if @venue.insta.present? %></p>
  </div>
</div>

<div class="image_container">
<% if @venue.image.present? %>
   <%= image_tag @venue.image, :class => 'venue_image' %>
<% end %>
</div>

<div class="menu">
  <h2><%= @venue.name %>'s menu:</h2>
  <ul>
    <% @venue.menus.each do |menu| %>
      <li> <%= link_to menu.item, menu_path(menu.id), :class => 'menu_link' %> | <%= menu.category %> | <%=  number_to_currency(menu.price) %> </li>
    <% end %>
  </ul>
</div>

<div class="reviews">
    <h2 class="title">Client's reviews: </h2>

    <% @venue.reviews.each do |review| %>
      <div class="review_block">
        <div class="review_header">
          <p> <%= review.name %> | Rate: <%= review.rate %> </p>
        </div>
        <div class="message">
          <p>"<%= review.message %>"</p>
        </div>

        <% if @current_user && @current_user.admin? %>
            <%= link_to 'Delete Review', review, :method => 'delete', :class => 'admin_link danger', :data => {:confirm => "Do you want to delete #{review.name}'s review?'"} %>
        <% end %>
      </div>
    <% end %>


  <div class="insert_review">
    <h2 class="title_dark">Leave a Review</h2>
    <%= form_for @venue.reviews.new do |form| %>
    <%= hidden_field_tag 'review[venue_id]', @venue.id %>
          <div class="form-group review_text">
             <%= form.label :message %>
             <%= form.text_area :message, :class => 'form-control' %>
          </div>
           <div class="form-group review_text">
             <%= form.label :name %>
             <%= form.text_area :name, :class => 'form-control' %>
          </div>
           <div class="form-group review_text">
             <%= form.label :rate %>
             <%= form.number_field :rate, max: 5, min:1, :class => 'form-control' %>
          </div>
          <div class="contain_btn">
            <%= form.submit "Leave Review", :class => 'btn btn-info'%>
          </div>
    <% end %>

  </div>
</div>

<% if @current_user.present? %>
  <nav class="bottom_page">
    <% if @current_user == @venue.user %>
      <%= link_to "Edit Venue", edit_venue_path %>
      <%= link_to "Add Menu Item", new_menu_path %>
      <% if @current_user.admin? %>
        <%= link_to "Delete Venue", @venue, :method => 'delete', :class => 'danger', :data => {:confirm => "Confirm you want to delete #{@venue.name}"} %>
      <% end %>
    <% end %>
  </nav>
<% end %>
