<!DOCTYPE html>
<html>
  <head>
    <title>Project01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to 'Home', root_path %>
        <%= link_to 'Venues', venues_path %>
        <% if @current_user.present? %>
          <% if @current_user.admin? %>
            <%= link_to "Users Index", users_path %>
          <% end %>
          <%= link_to "Profile", user_path(@current_user) %>
          <%= link_to "Log Out #{@current_user.email}", login_path, :method => 'delete', :data => {:confirm => "Are you sure you want to log out?"}  %>
          <%= link_to "Create New Venue", new_venue_path %>
        <% else %>
          <%= link_to 'Sign Up', new_user_path %>
          <%= link_to 'Sign In', login_path %>
        <% end %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
